* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cloudy {
    background-image: url('./images/cloud-background.jpeg');
}

.sunny {
    background-image: url('./images/sunny-sky.jpeg');
}

.partlycloudy {
    background-image: url('./images/partly-cloudy.jpg');
}

.citycard {
    width: 200px;
    color: black;
    /* background-color: blue; */
    background-image: url('./images/blue-sky.jpeg');
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.citycard:hover {
    cursor: pointer;
}

h1 {
    font-size: 32px;
    color: black;
    width: 100%;
    text-align: center;
}


#searchbar {
    width: 200px;
    margin-bottom: 5px;
}

.button {
    width: 150px;
    color: black;
    /* background-color: black; */
    background-image: url('./images/blue-sky.jpeg');
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.button:hover {
    cursor: pointer;
}

.mainbody {
    display: flex;
    flex-direction: row;
}

.maindisplay {
    display: flex;
    width: 50%;
    margin-left: 10%;
    height: 250px;
    border: 2px solid black;
    padding: 1%;
}

#mainweather {
    color: #00fff3;
}

#icon {
    font-size: 75px;
}


.fivedaycard {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 1%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.fivedaycard h2 {
    color: blue;
}

.fivedayicon {
    font-size: 35px;
    margin: -5%;
}

.hidden {
    display: none;
}

#date {
    color: blue;
}

.example {
    color: rgba(59, 59, 59, 0.721);
}

.fiveday {
    display: block;
}

.citydate {
    display: block;
}

.infolist {
    display: block;
    list-style: none;
    text-align: center;
    padding: 8%;
    padding-top: 0%;
}

#citylist {
    list-style: none;
}

.gif {
    border-radius: 5%;
}