.cloudy {
    background-image: url('./images/cloud-background.jpeg');
}

.sunny {
    background-image: url('./images/sunny-sky.jpeg');
}

.partlycloudy {
    background-image: url('./images/partly-cloudy.jpg');
}

.citycard {
    width: 200px;
    color: white;
    background-color: blue;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

h1 {
    font-size: 32px;
    color: white;
    background-color: blue;
    width: 100%;
    text-align: center;
}


#searchbar {
    width: 200px;
    margin-bottom: 5px;
}

.button {
    width: 150px;
    color: white;
    background-color: black;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.mainbody {
    display: flex;
    flex-direction: row;
}

.maindisplay {
    display: flex;
    width: 50%;
    margin-left: 10%;
    height: 250px;
    border: 2px solid black;
    padding: 1%;
}

#displaylabel {
    margin-left: 10px;
}


.fivedaycard {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 1%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.hidden {
    display: none;
}

#date {
    color: blue;
}

.example {
    color: rgba(59, 59, 59, 0.721);
}

.fiveday {
    display: block;
}

.citydate {
    display: block;
}

.infolist {
    display: block;
    list-style: none;
    text-align: center;
    padding: 8%;
}

#citylist {
    list-style: none;
}

.gif {
    border-radius: 5%;
}